@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard--cards {
	@apply flex flex-wrap gap-6;
	.card {
		&-chart {
			flex: 0.6 1 0;
			@screen md {
				flex: 0 0 100%;
			}
		}
		&-info {
			flex: 0.4 1 0;
			@screen md {
				flex: 0 0 100%;
			}
		}
		&-top,
		&-patient,
		&-balance,
		&-today {
			flex: 0.3 1 0;
			@screen md {
				flex: 0 0 calc(33.3333%);
			}
		}
	}
}
